
body {
    background-image: url(../2.jpg);
    background-repeat: no-repeat;
    background-size: 1367px;
}


h1 {
    text-align: center;
}

#header {
    background: #d8d8ff;
    border-radius: 0.5em;
    margin: 0.5em;
    font-family: "garamond";
}

#nav {
    width: 40%;
    background: #dfdfff;
    border-radius: 1em;
    margin: 0.5em;
    font-size: 110%;
    font-family: "garamond";
}

#frase {
    padding:5px;
    background: #dfdfff;
    border-radius: 0.5em;
    font-size: 110%;
    margin: 0.2em;
    font-family: "garamond";
    width: 40%
}

#audio {
    border-radius: 1em;
    margin: 1em;

}

#texto {
    padding:5px;
    background: #dfdfff;
    border-radius: 0.5em;
    margin: 0.2em;
    font-family: "garamond";
    height: 500%;
    width: 70%;
    font-size: 110%;
}

#section {
    width: 50%;
    background: #dfdfff;
    border-radius: 1em;
    margin: 1em;
    font-size: 110%;
}

#pais {width:20% ;
        height: 60%;
        }

#cada{font-size: medium}

#contenido{
    font-size: large;
    font-family:Garamond;
}


#x1{color: red;}
#x2{color:darkred}
#x3{color: mediumvioletred}

#sel1{
    width:20% ;
    height: 60%;
    font-size: medium;
}

.container{
    font-family: Garamond;
    font-size:medium;
}

#yover{
    font-size:large;

}

#ventanas{
    font-size: xx-large;
    border-radius: 0.5em;
}

#b1,#b2, #b3 {font-size: medium}
